/* Color Scheme */
:root {
    --primary-color: #36454F;
    --secondary-color: #30D5C8;
}

/* Default Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flexbox To Header */
header {
    display: flex;
    justify-content: space-between;
    flex: wrap;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 50px;
}

/* Child Element 1 */
header h1 {
    padding-right: 50px;
    top: 90%;
    bottom: 90%;
}

/* My Name */
header h1 a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 10px;
    font-family: cursive;
}

/* Nav Bar */
header nav {
    margin: 7px;
}

/* Child Element 2 */
header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

/* Individual Links */
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: var(--secondary-color);
}

/* Purple Background Image */
.purp {
    background-image: url(../images/purple-background.png);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    padding: 0px 0px 200px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
}

/* Image Of Me */
.purp img {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 125px;
    height: 125px;
}

/* Subtitle 1 */
.purp h2 {
    width: 300px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    line-height: 1.2;
    outline: 3px dotted purple;
    position: absolute;
    bottom: 25%;
    right: 10%;
}

/* Background for About Me Section */
#contents {
    background-color: #FB836F;
}

/* Setting Section Parameters For About Me */
#contents{
    border-bottom: 3px solid purple;
}

/* About Me H2 */
.about-row h2 {
    color: #024e76;
    font-size: 46px;
    flex: 1 30%;
    text-align: center;
    display: inline-block;
}

/* About Me Tag */
.about-row h2 a {
    text-decoration: none;
    color: #024e76;
}

/* About Me Parent Element */
.about-row {
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* About Me First Paragraph */
.about-p1 {
    margin-top: 10px;
} 

/* Child Container For Both Paragraphs */
.para-box {
    color: var(--tertiary-color);
    font-size: 18px;
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    border-left: 3px solid purple;
}

/* Defining New Portfolio Section */
#work {
    margin-top: 50px;
}

/* H2 Element Defining Section */
.production h2 {
    color: #024e76;
    font-size: 60px;
    flex: 1 26%;
    text-align: center;
    margin-right: 35px;
}

/* Parent Element For Portfolio */
.production {
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Child Element Holding Five Containers */
.flex-container {
    font-size: 18px;
    flex: 5 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Container 1/5 */
#container-one {
    
    background-image: url(../images/run-buddy.png);
    background-size: cover;
    background-position:left;
    outline: 3px solid #000000;
    position: relative;
}

/* Container Subtitle 1/5 */
#container-one h2 {
        text-align: center;
        color: #fff;
        font-size: 15px;
        line-height: 1.2;
        background-color: green;
        outline: 3px solid green;
        position: absolute;
        bottom: 0;
        left: 0;
}

/* Hiding Clickable Link Behind Image */
#container-one a {
    display: block;
    height:400px; 
    width:800px; 
    text-indent:-9999px;
}

/* Hover Over Image 1 */
#container-one:hover {
    opacity: 60%;
}

/* Container 2/5 */
#container-two {
    outline: 3px solid #000000;
    margin-top: 40px;
    background-image: url(../images/calorie-tracker.png);
    background-size: 33.33%;
    background-position:left;
    position: relative;
}

/* Container Subtitle 2/5 */
#container-two h2 {
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
    background-color: green;
    outline: 3px solid green;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Hiding Clickable Link Behind Image */
#container-two a {
    display: block; 
    height:135px; 
    width:400px; 
    text-indent:-9999px;
}

/* Hover Over Image 2 */
#container-two:hover {
    opacity: 60%;
}

/* Container 3/5 */
#container-three {
    outline: 3px solid #000000;
    margin-top: 40px;
    background-image: url(../images/fed-reserve.png);
    background-size: 100%;
    background-position:center;
    position: relative;
}

/* Container Subtitle 3/5 */
#container-three h2 {
    width: 125px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
    background-color: green;
    outline: 3px solid green;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Hiding Clickable Link Behind Image */
#container-three a {
    display: block; 
    height:135px; 
    width:400px; 
    text-indent:-9999px;
}

/* Hover Over Image 3 */
#container-three:hover {
    opacity: 60%;
}

/* Container 4/5 */
#container-four {
    outline: 3px solid #000000;
    margin-top: 40px;
    background-image: url(../images/world-clock.png);
    background-size: 70%;
    background-position:center;
    position: relative;
}

/* Container Subtitle 4/5 */
#container-four h2 {
    width: 125px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
    background-color: green;
    outline: 3px solid green;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Hiding Clickable Link Behind Image */
#container-four a {
    display: block; 
    height:135px; 
    width:400px; 
    text-indent:-9999px;
}

/* Hover Over Image 4 */
#container-four:hover {
    opacity: 60%;
}

/* Container 5/5 */
#container-five {
    outline: 3px solid #000000;
    margin-top: 40px;
    background-image: url(../images/mobile-banking.png);
    background-size: 100%;
    background-position:top;
    position: relative;
}

/* Container Subtitle 5/5 */
#container-five h2 {
    width: 125px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
    background-color: green;
    outline: 3px solid green;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Hiding Clickable Link Behind Image */
#container-five a {
    display: block; 
    height:135px; 
    width:400px; 
    text-indent:-9999px;
}

/* Hover Over Image 5 */
#container-five:hover {
    opacity: 60%
}

/* Parent Wrapper Within Footer */
#contact {
    background-color: var(--primary-color);
    height: 100%;
    display: flex;
    width: 100%;
}

/* Child Element 1/2 */
#contact h2 {
    color: var(--secondary-color);
    font-size: 46px;
    margin-left: 80px;
    flex: wrap;
    justify-content: space-between;
    flex: 1 10%;
    text-align: right;
}

/* Div Wrapper for List Items */
.contact-info {
    line-height: 1.5;
    text-align: center;
    flex: 2 90%;
}

/* Child Element 2/2 */
.contact-info ul {
    list-style: none;
    align-items: stretch;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    height: 100%;
}

/* List Items */
.contact-info ul li a {
    color: var(--secondary-color);
    padding: 3px 5px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: 0;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    header nav ul li a:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border-radius: 15px;
      text-shadow: none;
    }
  
    #contact h2, .contact-info {
      text-align: center;
      width: 100%
    }
  
    .purp h2 {
      width: 100%;
      text-align: center;
    }
  
    .about-row a {
      width: 80%;
    }
    
    .flex-container {
      flex: 1 70%;
    }
    
    .contact-info {
      flex: 1 100%;
    }

    .purp h2 {
        width: 300px;
        text-align: center;
        color: #fff;
        font-size: 36px;
        line-height: 1.2;
        outline: 3px dotted purple;
        position: absolute;
        bottom: 25%;
        right: 10%;
    }
  
  }

 /*MEDIA QUERY FOR TABLETS AND SMALLER*/
  @media screen and (max-width: 768px) {
      section {
      padding: 30px, 15px;
      }

      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
  
    .about-row a {
      flex: 1 100%;
      text-align: center;
    }
  
    .parabox {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .flex-container {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .purp h2 {
        width: 300px;
        text-align: center;
        color: #fff;
        font-size: 36px;
        line-height: 1.2;
        outline: 3px dotted purple;
        position: absolute;
        bottom: 25%;
        right: 10%;
    }
    
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */ 
  @media screen and (max-width: 575px) {
    .purp h2 {
      width: 100%;
    } 
    
    .about-row a {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .flex-item {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-info {
      order: 5;
    }

    .purp h2 {
        width: 300px;
        text-align: center;
        color: #fff;
        font-size: 36px;
        line-height: 1.2;
        outline: 3px dotted purple;
        position: absolute;
        bottom: 25%;
        right: 10%;
    }
  
  }