:root {
    --primary-color: #36454F;
    --secondary-color: #30D5C8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    flex: wrap;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 50px;
}

header h1 {
    padding-right: 50px;
    top: 90%;
    bottom: 90%;
}

header h1 a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 10px;
    font-family: cursive;
}

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: var(--secondary-color);
}

.purp {
    background-image: url(../images/purple-background.png);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    padding: 0px 0px 200px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
}

.purp h2 {
    width: 300px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    line-height: 1.2;
    outline: 3px dotted purple;
    position: absolute;
    bottom: 25%;
    right: 10%;
}

#contents {
    background-color: #FB836F;
}

/*.vertical {
    border-right: 6px solid purple;
    height: 30px;
}*/

.about-me{
    border-bottom: 3px solid purple;
}

.about-row h2 {
    color: #024e76;
    font-size: 46px;
    flex: 1 30%;
    text-align: center;
    display: inline-block;
}

.about-row h2 a {
    text-decoration: none;
    color: #024e76;
}

.about-row {
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-p1 {
    margin-top: 10px;
} 

.para-box {
    color: var(--tertiary-color);
    font-size: 18px;
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    border-left: 3px solid purple;
}

#work {
    margin-top: 50px;
}

.production h2 {
    color: #024e76;
    font-size: 60px;
    flex: 1 26%;
    text-align: center;
    margin-right: 35px;
}

.production {
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.flex-container {
    font-size: 18px;
    flex: 5 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#container-one {
    width: 800px;
    height: 400px;
    background-image: url(../images/run-buddy.png);
    background-size: cover;
    background-position:left;
    outline: 3px solid #000000;
    position: relative;
}

#container-one h2 {
        width: 125px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        line-height: 1.2;
        background-color: green;
        outline: 3px solid green;
        position: absolute;
        bottom: 0;
        left: 0;
}

#container-one a {
    display: block; 
    height:400px; 
    width:800px; 
    text-indent:-9999px;
}

#container-one:hover {
    opacity: 60%;
}

#container-two {
    width: 400px;
    height: 135px;
    outline: 3px solid #000000;
    margin-top: 40px;
    background-image: url(../images/calorie-tracker.png);
    background-size: 33.33%;
    background-position:left;
    position: relative;
}

#container-two h2 {
    width: 125px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
    background-color: green;
    outline: 3px solid green;
    position: absolute;
    bottom: 0;
    left: 0;
}

#container-two a {
    display: block; 
    height:135px; 
    width:400px; 
    text-indent:-9999px;
}

#container-two:hover {
    opacity: 60%;
}

#container-three {
    width: 400px;
    height: 135px;
    outline: 3px solid #000000;
    margin-top: 40px;
    background-image: url(../images/fed-reserve.png);
    background-size: 100%;
    background-position:center;
    position: relative;
}

#container-three h2 {
    width: 125px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
    background-color: green;
    outline: 3px solid green;
    position: absolute;
    bottom: 0;
    left: 0;
}

#container-three a {
    display: block; 
    height:135px; 
    width:400px; 
    text-indent:-9999px;
}

#container-three:hover {
    opacity: 60%;
}

#container-four {
    width: 400px;
    height: 135px;
    outline: 3px solid #000000;
    margin-top: 40px;
    background-image: url(../images/world-clock.png);
    background-size: 70%;
    background-position:center;
    position: relative;
}

#container-four h2 {
    width: 125px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
    background-color: green;
    outline: 3px solid green;
    position: absolute;
    bottom: 0;
    left: 0;
}

#container-four a {
    display: block; 
    height:135px; 
    width:400px; 
    text-indent:-9999px;
}

#container-four:hover {
    opacity: 60%;
}

#container-five {
    width: 400px;
    height: 135px;
    outline: 3px solid #000000;
    margin-top: 40px;
    background-image: url(../images/mobile-banking.png);
    background-size: 100%;
    background-position:top;
    position: relative;
}

#container-five h2 {
    width: 125px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
    background-color: green;
    outline: 3px solid green;
    position: absolute;
    bottom: 0;
    left: 0;
}

#container-five a {
    display: block; 
    height:135px; 
    width:400px; 
    text-indent:-9999px;
}

#container-five:hover {
    opacity: 60%
}

#contact {
    background-color: var(--primary-color);
    height: 100%;
    display: flex;
    width: 100%;
}

#contact h2 {
    color: var(--secondary-color);
    font-size: 46px;
    margin-left: 80px;
    flex: wrap;
    justify-content: space-between;
    flex: 1 10%;
    text-align: right;
}

.contact-info {
    line-height: 1.5;
    text-align: center;
    flex: 2 90%;
}

.contact-info ul {
    list-style: none;
    align-items: stretch;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    height: 100%;
}

.contact-info ul li a {
    color: var(--secondary-color);
    padding: 3px 5px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}

@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: 0;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    header nav ul li a:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border-radius: 15px;
      text-shadow: none;
    }
  
    #contact h2, .contact-info {
      text-align: center;
      width: 100%
    }
  
    /*.hero-cta, .hero-form {
      width: 100%;
    }
  
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }*/
  
  }

/* MEDIA QUERY FOR TABLETS AND SMALLER 
  @media screen and (max-width: 768px) {
  /* this will be applied on any screen between 768px and 575px 
      section {
      padding: 30px, 15px;
      }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;
    }
    
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER 
  @media screen and (max-width: 575px) {
  /* this will be applied on any screen smaller than 575px 
    .hero-form {
      width: 100%;
    } 
    
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  
  }